<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chinese" version="0.5.0" targetFramework="net452" />
  <package id="HZH_Controls" version="1.0.14" targetFramework="net452" />
  <package id="jieba.NET" version="0.42.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net452" />
  <package id="NStandard" version="0.9.16" targetFramework="net452" />
  <package id="SunnyUI" version="3.3.9" targetFramework="net452" />
  <package id="SunnyUI.Common" version="3.3.9" targetFramework="net452" />
  <package id="WordCloudSharp" version="1.1.0" targetFramework="net452" />
</packages>